body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center center;  
}

nav {
    top:0;
    width: 100%;
    height: 70px;
    background-color: #3a303099;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

table,
td,
th,
thead {

    border: 1px solid white;
    border-collapse: collapse;
    font-family: 'Lobster', cursive;
    width: 200px;

}

th {
    height: 50px;
}

table {
    width: 600px;
    text-align: center;
}



thead {
    color: white;
    background-color: #3a303099;

}

#tableCont {
    float: right;
    margin-right: 200px;
    font-family: 'Lobster', cursive;
    background-color: #3a303099;
    padding: 10px;
    margin-top: 50px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#tableCont h2 {
    float: none;
    color: white;
    text-align: center;

}



#formCont {
    float: left;
    padding: 20px 10px;
    margin-top: 50px;
    margin-left: 200px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #3a303099;
    font-family: 'Lobster', cursive;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;

}

#add {
    font-family: 'Lobster', cursive;

}


input[type=text],
input[type=number],
select {
    /* width: 100%; */
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    /* width: 100%; */
    background-color: #3a303099;
    color: white;
    padding: 14px 86px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}